*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
.clear{
	clear: both;
}
html{
	font-family: Arial
}
body{
	background: #efefec;
	font-family: Arial;
}
#container{
	width: 700px;
	margin: 20px auto;
	padding: 0 20px;
}
#title{
	text-align: center;
	width: 245px;
	margin: 0 auto 20px;
}
#title h1{
	color: #2c3e50;
	font-size: 26px;
	display: inline-block;
}
#title img{
	height: 24px;
}
#title img:first-child{
	float: left;
}

#title img:last-child{
	float: right;
}

#menu{
	margin-bottom: 2px;
}
#menu #left{
	float: left;
}
#menu a{
	float: left;
}
#menu img{
	height: 22px;
	position: relative;
}
#menu img:hover{
	bottom: 2px;
}
#menu img:active{
	bottom: 0;
}
#menu img:first-child{
	margin-right: 6px;
}
#menu #right{
	float: right;
}
#menu #right img:first-child{
	height: 23px;
}

canvas{
	background: #fff;
	display: block;
	/*cursor: url(images/brush.png), auto;*/
	box-shadow: 0px 2px 6px -2px #aaa;
}

#availableColors{
	list-style-type: none;
	margin-top: 20px;
	float: left;
}
#availableColors li{
	float: left;
}
#availableColors li.selected a img{
    -webkit-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}
#availableColors li~li{
	margin-left: 8px;
}
#availableColors li a{

}
#availableColors li a:hover{
	bottom: 2px;
}
#availableColors li a:active{
	bottom: 0;
}
#availableColors li a img{
	height: 40px;
	position: relative;
	transition:0.1s;
	background: linear-gradient(#fff,#fff) no-repeat;
	background-position: 2.5px 14px;
	background-size: 85% 22px;
}
#availableColors li:not(.selected) a:hover img{
	bottom: 4px;
}

#addColor{
	position: relative;
	float: right;
	margin-top: 20px;
}
#addColor a img{
	height: 40px;
	background: initial;
}

#chooseColor{
	background: #ddd;
	box-shadow: 0 0 7px -2px #aaa;
	width: 300px;
	position: absolute;
	right: -10px;
	bottom: 160%;
	display: none;	
}

#chooseColor button{
	width: 100%;
	height: 40px;
	font-size: 22px;
	cursor: pointer;
	border: none;
	background: #ec8a8a;
	color: #fff;
	margin-bottom: 10px;
}
#chooseColor #wrap{
	padding: 0 10px;
}
#chooseColor #dispalyColor{
	width: 75px;
	height: 75px;
	background: #fff;	
	box-shadow: 0 0 2px -1px #fff;
	float: left;
}
#chooseColor #colorRanges{
	float: right;
}
#chooseColor #colorRanges .contain{
	margin-bottom: 15px;
}
#chooseColor #colorRanges label{
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
	color: #696969;
}
#chooseColor #colorRanges input[type=range]{
	display: block;
	width: 180px;
    -webkit-appearance: none;
}

#chooseColor #colorRanges input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    background: #ccc;
    border: none;
    border-radius: 3px;
}

#chooseColor #colorRanges input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ec8a8a;
    margin-top: -4px;
}
#chooseColor #colorRanges input[type=range]:focus {
    outline: none;
}

#chooseColor #colorRanges input[type=range]:focus::-webkit-slider-runnable-track {
    background: #c0bebe;
}
#chooseColor .triangle{
	border-style: solid;
	border-color: transparent;
	border-width: 0px 15px;
	border-top:25px solid #ddd;
	width: 0px;
	height: 0px;
	position: absolute;
	top: 100%;
	right: 20px;
}

#footer{
	position: absolute;
	bottom: 10px;
	z-index: -1;
}
#footer p{
	font-size: 12px;
	color: #696969;
}
#footer a{
	text-decoration: none;
	font-weight: bold;
}
#footer a:hover{
	text-decoration: underline;
}
